
@keyframes displayHeader {
  0% {
    opacity: 0;
    z-index: 0;
    display: none;
  }
  100% {
    opacity: 1;
    z-index: 100;
    display: block;
  }
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    animation: displayHeader 1.5s forwards;
    opacity: 0;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;

    &__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 60px;
    }
    &__text {
        color: #000;
    }

    @media only screen and (max-width: 768px) {
      &__items {
        padding: 10px;
      }
  }
}