
@font-face {
  font-family: 'Favorit Light';
  font-style: normal;
  font-weight: 200;
  src: local('Favorit Light'), local('FavoritLight'),
       url('../../assets/Favorit/OTF/Favorit_Light.otf') format('opentype'), /* IE6-IE8 */
}

@keyframes slideDown {
  0% {
		transform: translateY(-100%);
	}	
	100% {
		transform: translateY(0%);
	}	
}
	

.navigation {
  font-family: 'Favorit Light';
  justify-content: flex-end;
  color: #FFF;
  z-index: 100;
  top: 0;
  position: absolute;

  &__active {
    animation-name: slideDown;
    animation-timing-function: ease;
    animation-duration: 1s;
  }
  &__inner {
    background-color: #EF7B24;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    height: 100vh;
  }

  &__button {
    position: absolute;
    right: 25px;
    top: 25px;
  }

  &__description {
    line-height: 18px;
    font-size: 14px;
    width: 75%;
    margin: 112px auto;
  }

  &__links {
    margin: 81px 0;

    &--link-list {
      list-style: none;
      margin: 0;
    }

    &--link-list-item {
      margin-bottom: 5px;

      a {
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}