@keyframes slideUp {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    height: 100vh;
    transform: translateY(0);
  }
}

@keyframes fadeInVideo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

.video {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #D2BFAE;
  overflow-y: scroll;

  &__slide-in {
    animation: slideUp 1.5s forwards;
    animation-timing-function: ease-in;
  }

  &__wrapper {
    animation: fadeInVideo 1.25s linear;
    animation-delay: 2.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    margin-top: 100px;
  }

  @media only screen and (max-width: 768px) {
    &__wrapper {
      max-width: 100%;
      width: 100%;
      margin-top: 0;
      bottom: clear;

      iframe {
        width: 100%;
      }
    }
  }
}

