@keyframes slideUp {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    height: 100vh;
    transform: translateY(0);
  }
}

@keyframes fadeInVideo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

.video {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #D2BFAE;
  overflow-y: scroll;

  &__slide-in {
    animation: slideUp 2000ms forwards;
  }

  &__wrapper {
    animation: fadeInVideo 1.25s linear;
    animation-delay: 2.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  @media only screen and (max-width: 768px) {
    &__wrapper {
      max-width: 100%;
      width: 100%;
      margin-top: 0;
      bottom: clear;
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

