@font-face {
  font-family: 'Merchant Copy';
  font-style: normal;
  src: local('Merchant Copy'), local('MerchantCopy'),
       url('./assets/Merchant_Copy.ttf') format('embedded-opentype'), /* IE6-IE8 */
}

@font-face {
  font-family: 'Prophet Light';
  font-style: normal;
  src: local('Prophet Light'), local('ProphetLight'),
      url('./assets/Prophet/web/ProphetLight.woff') format("woff"),
      url('./assets/Prophet/Prophet_Light.ttf') format('embedded-opentype'), /* IE6-IE8 */
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInVideo { from { opacity: 0; } to { opacity: 0.85; } }

@keyframes opacityOverlay {
  0% {
    opacity: 0;
    background: #EF7B24;
  }
  100% {
    opacity: 0.5;
    background: #EF7B24;
  }
}

@keyframes slideClosed {
  0% {
		transform: translateX(0%);
	}	
	100% {
		transform: translateX(100%);
	}	
}

html {
  height: 100%;
}

body {
  font-family: 'Prophet Light';
  letter-spacing: 0.4px;
  font-weight: 400;
  color: #FFF;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.background-enter {
  transform: translate(100%);
}
.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.background-leave {
  transform: translate(0%);
}
.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

.main{
  &__wrapper {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #d4996a;
    display: flex;
    flex: auto;
    max-height: 100%;

    &::before {
      content: '';
      background-color: #EF7B24;
      height: 100vh;
      width: 60px;
    }
  }

    &__slide-in {
      animation: slideUp 1.5s forwards;
      animation-timing-function: ease-in;
      width: 100%;
      height: 100%;
      background-color: #D2BFAE;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  &__nav-active {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: opacityOverlay 2s forwards;
      }
    }

  &__video {
    animation: fadeInVideo 1s forwards;
    animation-delay: 1s;
    opacity: 0;

    &--nav-video-active {
      opacity: 1;
      animation-delay: 0;
      animation: none;
    }
  }

  @media only screen and (max-width: 768px) {
    &__video {
      img {
        width: 100%;
      }
    }
  }
}

.row {
  margin: 0;
}